@model dynamic
@{
    ViewData["Title"] = "Your Workout Plan";
}

<h1>Admin Menu</h1>

<h2>Weekly Workout Routine</h2>
<table id="ProfileList" class="table table-bordered table-striped white-text">
    <thead>
        <tr>
            <td colspan="2">
                <a asp-action="Create" class="btn btn-secondary">Create New Profile</a>
            </td>
        </tr>
        <tr>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>      
            @foreach (var item in Model)
            {
                <tr>
                    <td class="action-cell">
                        <p>@item.Person.Name </p>
                        <p>Email: @item.AspUser.UserName | ProfileID: @item.Person.Id</p>
                        <div class="action-links align-content-center">
                            <a asp-action="AdminEdit" asp-route-id="@item.Person.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Person.Id" class="btn btn-primary">Delete</a>
                            <a asp-action="Details" asp-route-id="@item.Person.Id" class="btn btn-primary">Details</a>
                        </div>
                    </td>
                </tr>
            }
        
    </tbody>
</table>