@model Assignment3.Models.Nutrition

<h2>Nutrition Details</h2>

<table class="table">
    <tr>
        <th>BMR</th>
        <td>@Model.BMR</td>
    </tr>
    <tr>
        <th>Average Routine Calories Burned</th>
        <td>@Model.RoutineCaloriesBurned</td>
    </tr>
    <tr>
        <th>Daily Calorie Adjustment</th>
        <td>@Model.CalorieSurplusOrDeficit</td>
    </tr>
    <tr>
        <th>Total Daily Calories</th>
        <td>@Model.TotalDailyCalories</td>
    </tr>
    <tr>
        <th>Protein Percentage</th>
        <td>@Model.ProteinPercentage%</td>
    </tr>
    <tr>
        <th>Carb Percentage</th>
        <td>@Model.CarbPercentage%</td>
    </tr>
    <tr>
        <th>Fat Percentage</th>
        <td>@Model.FatPercentage%</td>
    </tr>
</table>
