@model IEnumerable<Assignment3.Models.Nutrition>

@{
    ViewData["Title"] = "Nutrition Records";
}

<h1>Nutrition Records</h1>

<table class="table">
    <thead>
        <tr style="color:white;">
            <th>Person</th>
            <th>Calorie Target</th>
            <th>Calorie Surplus/Deficit</th>
            <th>Protein Percentage</th>
            <th>Carb Percentage</th>
            <th>Fat Percentage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="color:white;">
                <td>@item.Person.Name</td>
                <td>@item.TotalDailyCalories</td>
                <td>@item.CalorieSurplusOrDeficit</td>
                <td>@item.ProteinPercentage%</td>
                <td>@item.CarbPercentage%</td>
                <td>@item.FatPercentage%</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group" role="group">
    <a asp-action="GenerateNutritionPlan" class="btn btn-primary">Generate Nutrition Plan</a>
</div>
